[Unit]
Description=NEPSE Continuous Data Scraper
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=futsal
Group=futsal
WorkingDirectory=/home/futsal/Nepse_direct_Data_Extract
ExecStart=/home/futsal/Nepse_direct_Data_Extract/docker-run.sh continuous 60
ExecStop=/usr/bin/docker stop nepse-continuous
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
